{%load static %}

<nav class="navbar" style="background-color: brown;color: antiquewhite;">
    <a href="#" class="navbar-brand" style="color: rgb(222, 199, 199);">Lasop</a>
    <ul class="navbar nav" style="margin-right:10px;">
        <li class="navbar-item">ABOUT US</li>
        <li class="navbar-item">GALLERY</li>
        <li class="navbar-item">BLOG</li>
        <li class="navbar-item">CONTACT US</li>
        <li><button type="button" class="btn btn-light">BUY A FLOWER</button></li>
    </ul>
</nav>