<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./boostraps/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
    <div style="text-align: center;">
        <i>08141386096 &nbsp;&nbsp; peterlash31@gmail.com</i>
    </div>
    <nav class="navbar" style="background-color: brown;color: antiquewhite;">
        <a href="#" class="navbar-brand" style="color: rgb(222, 199, 199);">Lasop</a>
        <ul class="navbar nav" style="margin-right:10px;">
            <li class="navbar-item">ABOUT US</li>
            <li class="navbar-item">GALLERY</li>
            <li class="navbar-item">BLOG</li>
            <li class="navbar-item">CONTACT US</li>
            <li><button type="button" class="btn btn-light">BUY A FLOWER</button></li>
        </ul>
    </nav>




    <div class="just">
        <div class="container load">
            <div class="row  row-cols-4">
              <div class="col">
                  <h3>Flower Bay</h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugit incidunt quas reiciendis quibusdam labore, rem ab accusantium sed repellendus pariatur ea maxime voluptatibus magni dolorem odio corrupti suscipit perferendis?
              </div>
              <div class="col ">
                  <h3>Contact Us</h3>
                  <p> <b>Lorem</b>: ipsum dolor sit amet.</p>
                  <p> <b>Lorem</b>: ipsum dolor sit amet.</p>
                  <p> <b>Lorem</b>: ipsum dolor sit amet.</p>
                </div>
              <div class="col">
                <h3><b>Link</b</h3><br>
                <h6> About Us</h6>
                <h6> Gallery</h6>
                <h6> About Us</h6>
                <h6> Shop here</h6>
        
              </div>
              <div class="col">
                 <p> Lorem ipsum dolor sit amet consectetur adipisicing</p>
                <div class="butt"><button type="button" style="text-align: center;margin-left: 120px; background-color: brown; color: white;">Sign Up</button></div>
              </div>
            </div>
       </div>
      </div>
    